body {
  font-family: "Josefin Sans", sans-serif;
}

.alert-div {
  text-align: center;
  font-size: 2em;
  font-weight: 600;
}

.refresh-btn {
  width: 10em;
  height: 3em;
  outline: none;
  background-color: cornflowerblue;
  font-weight: 500;
  color: whitesmoke;
  cursor: pointer;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.calc-wrapper {
  width: 500px;
  height: auto;
  border-radius: 10px;
  overflow: hidden;
  border: 10px ridge #878786;
}

.row {
  display: flex;
  width: 100%;
}

h1 {
  color: #878786;
  font-size: 35px;
}

h6 {
  font-size: 12px;
}